* {
    padding: 0;
    margin: 0;
}

#content {
    width: 700px;
    background-color: powderblue;
    margin: 50px auto;
    padding: 10px;
}

#title {
    background-color: orange;
    height: 30px;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 25px;
}

#form {
    background-color: wheat;
    padding: 10px;
}

#form form table {
    width: 40%;
    margin: 0 auto;
    text-align: right;
}

#form form div {
    text-align: center;
}


#form form div #btn {
    margin: 0 auto;
    padding: 5px;
    width: 50px;
    margin-top: 5px;
}

#error {
    padding: 10px;
    text-align: center;
    color:red;
    font-weight: bold;
}

#listMH {
    width: 100%;
    background-color: wheat;
    padding-bottom: 20px;
}

#listMH table, #tbTitle {
    width: 90%;
    margin: 0 auto;
}

#listMH table {
    margin-top: 5px;
}

#listMH table td, #listMH table tr, #listMH table th {
    padding: 5px;
}